<div class='nested-fields'>
  <%= f.input :title, label: "segment title" %>
  <%= f.input :body, label: "segment body", input_html: {rows: 10} %>
  <%= link_to_remove_association "remove segment", f,
                                                   data: {confirm: "Are you sure you want to delete this segment?"},
                                                   class: "btn btn-danger btn-sm" %>
  <hr>
</div>
