<div id="home-logo">
  <%= image_tag "golden_house_large.png", class: "img-responsive" %>
</div>

<%= form_tag books_path, method: :get, id: "home-search" do %>
  <div><%= text_field_tag :search, params[:search], placeholder: 'Search the term "pocket" for demo purposes' %></div>
  <div><%= submit_tag "Search" %></div>
<% end %>
