// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.favorite,
a.unfavorite {
  text-decoration: none;
}

a.favorite:hover,
a.unfavorite:hover {
  color: red;
}

.favorite-label {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.favorites-count {
  font-size: 16px;
}
