// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
}

body::after {
  content: "";
  background: url("background.jpg") center fixed no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#logo {
  margin: 15px 0px 0px 8px;
}

#top-right-dropdown-button {
  margin: 18px 75px 0px 0px;
}

#top-right-dropdown-menu {
  margin: 0px 75px 0px 0px;
}

#top-right-non-signed-in {
  margin: 23px 75px 0px 0px;
}

#search-bar {
  margin: 0px 0px 20px 10px;
}

.page-title {
  font-size: 26px
}

@media (min-width: 768px) {
  #logo {
    margin: 15px 0px 0px 8px;
  }
  .page-title {
    font-size: 36px
  }
}
@media (min-width: 992px) {
  #logo {
    margin: 15px 0px 0px 10px;
  }
}
@media (min-width: 1200px) {
  #logo {
    margin: 15px 0px 0px 60px;
  }
}
