// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  margin: 15px 0px 0px 60px;
}

#top-right-dropdown-button {
  margin: 18px 75px 0px 0px;
}

#top-right-dropdown-menu {
  margin: 0px 75px 0px 0px;
}

#top-right-non-signed-in {
  margin: 23px 75px 0px 0px;
}

#home-logo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;

  img {
    margin: auto;
  }
}

#home-search {
  text-align: center;
  margin: 10px;

  input[type="text"] {
    width: 500px;
    height: 45px;
    font-size: 26px;
  }

  input[type="submit"] {
    text-align: center;
    font-size: 24px;
    padding: 0px 20px;
    margin: 10px;
  }
}

#search-bar {
  margin: 0px 0px 20px 10px;
}
