// Place all the styles related to the my/memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memo-title {
  margin: auto;
}

.memo-username {
  color: #337ab7;
}

.memo-dates {
  color: gray;
}

.segment-title {
  margin-bottom: auto;
}

.public-checkbox {
  text-align: right;
  font-size: 18px;
}

.new-memo-button {
  text-align: right;
}

.create-memo-button {
  text-align: right;
}

.edit-delete-buttons {
  text-align: right;
}
